
             input[type="button"] { width:60px; 
                                    height:60px; 
                                    color:white;
                                    background-color: blueviolet;
                                    font-size:18px ;          } 
             table { width:240px; 
                     color:white
                   }